<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DaviesForumApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DaviesForumApp.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/777326d9ce.js" crossorigin="anonymous"></script>
</head>
<header>
    <nav class="navbar davies-colour navbar-dark navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand text-light">Davies</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 text-light">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="MessagePosts" asp-action="Search">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Replies" asp-action="Search">Replies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Users" asp-action="Search">Users</a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-right">
                    
                    <li class="nav-item p-1">
                        <a class="nav-link text-light btn-dark p-2" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                    </li>
                    <li class="nav-item p-1">
                        <h3 style="color:white">@Context.Session.GetString("UserName") is logged in.</h3>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
</body>

<footer class="davies-colour border-top footer text-center ">
    <div class="container text-light">
        Davies &copy; 2023
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
